body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#imagePreview {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.image-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    max-width: 150px;
}
.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
.uploadDate {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

